# Node.js
node_modules/

# Dependency directories
npm-debug.log
yarn-error.log

# dotenv environment variables file
.env

# Visual Studio Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
